.idea

backups/*
!backups/.gitkeep
jenkins/*
!jenkins/.gitkeep
logs/*
!logs/.gitkeep
mysql/*
!mysql/.gitkeep
releases/*
!releases/.gitkeep

code/dev/config/release
code/dev/config/prod.php
code/dev/public/static/*/lib
code/dev/public/upload/dev
code/dev/public/upload/phpunit
code/dev/public/upload/selenium
code/dev/vendor
code/release*

code/live