.idea

backups/*
!backups/.gitkeep
jenkins/*
!jenkins/.gitkeep
logs/*
!logs/.gitkeep
mysql/*
!mysql/.gitkeep
releases/*
!releases/.gitkeep

code/dev/config/release
code/dev/public/css/lib
code/dev/public/js/lib
code/dev/public/upload
code/dev/vendor