.idea

backups
logs
mysql
jenkins
releases
upload
release

code/config/release

code/public/static/*/lib
code/public/static/min/*
!code/public/static/min/.gitkeep

code/public/upload/dev
code/public/upload/phpunit
code/public/upload/selenium

code/vendor
code/release*
