.window-section-structure {
  left: 25px;
  right: 25px;
  margin-left: 0;
  width: auto;
  background: @darkGrayBackground;

  .header {
    .title {
      color: white;
    }
  }

  .accordion-container {
    .accordion-title {
      border-color: white;
    }
  }

  .section-structure {
    .blocks-container {
      float: left;
      width: 300px;

      .section-structure-block {
        .border-radius(4px);
        border: 1px solid @grayBorderColor;
        margin: 5px 0;
        position: relative;
        padding: 0 30px;
        cursor: move;

        .icon,
        .remove {
          position: absolute;
          top: 0;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
        }

        .icon {
          left: 0;
        }

        .remove {
          right: 0;
        }

        .name {
          line-height: 40px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .structure-container {
      margin-left: 325px;
    }
  }
}