.window-section-structure {
  left: 25px;
  right: 25px;
  margin-left: 0;
  width: auto;

  .section-structure-block {
    .border-radius(4px);
    border: 1px solid @grayBorderColor;
    background: white;
    margin: 5px 0;
    position: relative;
    padding: 0 30px;
    cursor: move;

    .remove {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      opacity: 0;
    }

    .text {
      line-height: 40px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
  }

  .section-structure {
    .blocks-container {
      float: left;
      width: 300px;
    }

    .structure-container {
      margin-left: 325px;

      .section-structure-line {
        background: @lightGrayBackground;
        border: solid @grayBorderColor;
        border-width: 1px 0;
        padding: 30px 20px 10px 20px;
        min-height: 40px;
        position: relative;

        .remove {
          position: absolute;
          top: 0;
          right: 0;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
        }

        .line-name {
          position: absolute;
          top: 0;
          left: 20px;
          line-height: 20px;
        }
      }
    }
  }
}