.fancybox-bg {
  background: white;
}

.fancybox-is-open {
  .fancybox-bg {
    opacity: 1;
  }
}

.fancybox-navigation {
  button {
    &:before {
      background: none;
    }

    &:hover {
      &:before {
        background: @grayBackground;
      }
    }
  }
}

.fancybox-toolbar {
  .fancybox-button {
    background: none;

    &:hover {
      background: @grayBackground;
    }
  }
}

.fancybox-caption-wrap {
  padding: 0;
  background: none;

  .fancybox-caption {
    padding: 10px 15px;
    border-top: 1px solid @grayBorderColor;
    color: @defaultTextColor;
  }
}

.image-container {
  img {
    max-width: 100%;
  }
}

.zoom-image-container {
  display: inline-block;
  overflow: hidden;
  text-align: center;

  img {
    min-height: 100%;
    max-height: 100%;
  }
}

.slider-container {
  position:relative;
  overflow:hidden;

  .slides {
    position:absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .arrow {
    text-align: center;
    cursor: pointer;
    display: block;

    i {
      line-height: 60px;
    }
  }

  .i {
    .bullet {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

  .description-wrapper {
    overflow:hidden;

    .description {
      line-height: 32px;
      padding: 0 15px;
    }
  }
}

.album {
  .image-container {
    float: left;
    min-width: 100px;
    min-height: 100px;
    position: relative;

    .count {
      .border-radius(5px);
      color: white;
      position: absolute;
      padding: 2px 6px;
      top: 6px;
      right: 6px;
      background-color: @darkLabelBackground;
    }
  }

  .name {
    display: block;
  }
}