.menu {
  ul {
    list-style: none;

    li {
      display: block;

      a {
        display: block;
      }
    }
  }
}

.menu-vertical {

}

.menu-horizontal {
  ul {
    display: table;
    width: 100%;

    li {
      display: table-cell;
      position: relative;

      ul {
        .transition-duration;
        .transition-property(opacity);
        position: absolute;
        left: 0;
        top: 100%;
        visibility: hidden;
        opacity: 0;

        li {
          display: block;

          ul {
            left: 100%;
            top: 0;
            right: auto;
          }

          .right {
            left: auto;
            right: 100%;
          }
        }
      }

      .right {
        left: auto;
        right: 0;
      }

      &:hover > ul {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}