@import "variables.less";
@import "webkit.less";
@import "panel.less";
@import "design.less";
@import "window.section.less";
@import "help.less";

#wrapper {
	padding-bottom: 44px;
}

#admin-bottom-container {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 44px;
	background: rgba(0,0,0,0.8);

	.l-right {
		position: absolute;
		bottom: 0;
		right: 20px;
	}

	.l-left {
		position: absolute;
		bottom: 0;
		left: 20px;
	}

	.l-button {
		line-height: 44px;
		padding: 0 5px;
		margin: 0 20px;
		cursor: pointer;

		display: inline-block;
		color: white;
		.transition-duration;
		.transition-property(opacity);

		&:hover {
			opacity: .65;
		}

		.fa {
			margin-right: 5px;
		}
	}
}

.l-help-button {
	font-size: 24px;
	color: @lightGrayColor;
	display: inline-block;
	padding: 0 8px;
	line-height: 14px;

	&:hover {
		color: @blueColor;
	}
}