/* https://github.com/300rub/300rub/blob/f19b8cac37578b94de60d8ef53dbb54ce6af66a4/public/css/design.css */

.l-design-editor {
  .l-line {
    margin: 15px 0;
  }

  .l-angles-container {
    position: relative;

    .l-result-wrapper {
      min-height: 60px;

      .l-result-container {
        width: 100px;
        margin: 0 auto 10px auto;
        overflow: hidden;

        .l-result {
          width: auto;
          height: 60px;
        }
      }
    }

    .l-angel-item {
      position: absolute;

      input {
        width: 30px;
      }
    }

    .l-top-left {
      left: 10px;
      top: 18px;
    }

    .l-top-right {
      right: 10px;
      top: 18px;
    }

    .l-bottom-left {
      left: 10px;
      top: 52px;
    }

    .l-bottom-right {
      right: 10px;
      top: 52px;
    }
  }

  .l-margin-container {
    .l-result-container {
      border: 1px solid black;

      .l-result {
        border: 2px solid black;
        height: 58px;
        background: grey;
      }
    }
  }

  .l-padding-container {
    .l-result-container {
      border: 1px solid black;
      background: grey;

      .l-result {
        border: 2px solid black;
        height: 58px;
      }
    }
  }

  .l-border-radius-container {
    .l-result-container {
      .l-result {
        border: 2px solid black;
        height: 58px;
      }
    }
  }

  .l-border-width-container {
    .l-result-container {
      .l-result {
        background: grey;
        border: 0 solid black;
      }
    }
  }

  .l-radio-container {
    display: inline-block;

    label {
      height: 32px;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      line-height: 32px;
      border: 1px solid black;
    }

    input:checked + label {
      background: gray;
    }
  }
}

.ui-colorpicker, .ui-dialog.ui-colorpicker {
  background: white;
  width: 640px;
}