@import "variables.less";
@import "webkit.less";

.l-form {
  display: inline-block;
  width: 100%;
  padding: 3px 15px 0 15px;
  font-size: 15px;
  color: #333;
  background-color: white;
  border: 1px solid #d6d6d6;
  line-height: 24px;
  .l-rounded(4px);
  .l-font-family-myrad;

  &:hover {
    border-color: #aaa;
  }

  &:focus {
    border-color: #08c;
    .l-box-shadow(0 0 0 3px rgba(0, 136, 204, .3));
  }
}

.l-form-middle {
  .l-form;
  width: 200px;
}

.l-form-small {
  .l-form;
  width: 70px;
}

.l-form-container {
  margin: 10px 0;

  .l-label-container {
    .l-label {
      width: 150px;
      display: inline-block;
      text-align: right;
      float: left;
      padding-top: 9px;
    }

    .l-body {
      margin-left: 160px;
      display: block;
    }
  }
}

.l-checkbox-container {
  .l-label-container {
    .l-icons {
      font-size: 20px;
      width: 20px;
      display: inline-block;
      color: #d6d6d6;

      .fa-check-square-o {
        display: none;
        color: #008ace;
      }
    }

    &:hover {
      .l-icons {
        color: #aaa;
      }
    }

    .l-checkbox {
      display: none;

      &:checked + .l-icons {
        .fa-square-o {
          display: none;
        }
        .fa-check-square-o {
          display: inline;
        }
      }
    }

    .l-label-text {
      font-size: 14px;
      vertical-align: top;
      margin-top: 2px;
      display: inline-block;
    }
  }
}

.l-form-group {
  margin: 10px 0;

  .l-label {
    display: block;
    font-size: 14px;
  }

  .l-label-inline {
    font-size: 14px;
    margin-right: 5px;
  }

  .l-suffix {
    margin-left: 5px;
    font-size: 14px;
  }
}

.l-form-seo-title {
  display: block;
  background: white;
  font-size: 16px;
  border-bottom: 1px dashed #e0b2e0;
  color: #008ace;
  margin-top: 15px;
  margin-bottom: 10px;

  &:hover {
    border-bottom-color: #f0b2b2;
    color: #ff0000;
  }

  .fa {
    margin-left: 5px;
  }
}