.form-container {
	margin: 15px 0;
}

.form-container div.error {
	color: #cc0000;
	font-size: 12px;
}

.form-container input.error {
	border-color: #cc0000;
}

.form-container-field label,
.form-container-password label,
.form-container-text {
	display: block;
	font-weight: bold;
}

.form-container-field input,
.form-container-password input,
.form-container-text textarea {
	-webkit-box-shadow: inset 0 1px 1px #AAA;
	-moz-box-shadow: inset 0 1px 1px #AAA;
	box-shadow: inset 0 1px 1px #AAA;
	border: 1px solid #d6d6d6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 24px;
	padding: 0 5px;
	width: 100%;
}

.form-container-text textarea,
.form-container-tinymce .tinymce {
	height: 350px;
}

.form-container-checkbox label {
	vertical-align: middle;
}

.form-container-checkbox input {
	margin-bottom: auto;
	vertical-align: middle;
	margin-right: 1px;
}