.window-grid {
	width: 1220px;
	margin-left: -610px;
}

.window-grid .blocks {
	float: left;
	width: 200px;
}

.window-grid .grid-stack-line {
	margin-left: 210px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border: 1px solid #d6d6d6;
}

.window-grid .grid-stack-line .grid-stack-line-header {
	background: #f8f8f8;
	margin-bottom: 10px;
	padding: 0 10px;
	position: relative;
	cursor: move;
}

.window-grid .grid-stack-line .grid-stack-line-header .title {
	font-size: 14px;
	line-height: 22px;
}

.window-grid .grid-stack-line .grid-stack-line-header .remove {
	position: absolute;
	right: 0;
	top: 0;
	width: 22px;
	line-height: 22px;
	background: #f00;
	text-align: center;
	color: #fff;
	text-decoration: none;
}

.window-grid .grid-stack {
	min-height: 50px;
}

.window-grid .grid-stack .grid-stack-item-content {
	border-style: solid;
	border-width: 0 1px 0 10px;
	background: #f5f5f5;
	line-height: 30px;
	padding: 0 20px;
}

.window-grid .ui-accordion .ui-accordion-content {
	padding: 0;
}

.window-grid .ui-accordion .ui-accordion-header {
	background: #fff;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 0;
	font-weight: bold;
}

.window-grid .ui-accordion .ui-accordion-content {
	border: 0;
}

.window-grid .blocks .block {
	border-style: solid;
	border-width: 0 1px 0 10px;
	background: #f5f5f5;
	margin: 5px 0;
	line-height: 30px;
	padding: 0 20px;
	position: relative;
}

.window-grid .blocks .block-text,
.window-grid .grid-stack-item-content-text {
	border-color: #50b5e9;
}

.window-grid .blocks .block-image,
.window-grid .grid-stack-item-content-image {
	border-color: #fb4418;
}

.window-grid .blocks .block select {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.window-grid .grid-stack-item .remove {
	position: absolute;
	right: 10px;
	top: 0;
	text-decoration: none;
	z-index: 10;
	background: #f00;
	width: 20px;
}