.l-box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing: @type;
	box-sizing: @type;
}

.l-rounded (@radius: 50%) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.l-box-shadow (@value) {
	box-shadow: @value;
	-moz-box-shadow: @value;
	-webkit-box-shadow: @value;
}

.l-full-size {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}