.l-panel {
	border: 3px solid @blueColor;
	border-right-width: 0;
	.l-rounded(15px 0 0 15px);
	bottom: 50px;
	right: 0;
	z-index: 90;
	position: fixed;
	background: white;
	width: 350px;
	overflow: hidden;
	padding-right: 20px;

	.l-close {
		position: absolute;
		right: 10px;
		top: 5px;
		z-index: 1;
		color: @grayColor;
		font-size: 24px;

		&:hover {
			color: @blueColor;
		}
	}

	.l-header {
		position: relative;
		min-height: 20px;
		border-bottom: 1px solid @borderColor;

		.l-back {
			width: 20px;
			height: 20px;
		}

		.l-title {
			padding-right: 30px;
			display: inline-block;
		}

		.l-description {

		}
	}

	.l-container {
		min-height: 20px;
		overflow: auto;

		.l-panel-list-item {
			cursor: pointer;
			position: relative;
			border-bottom: 1px solid @borderColor;
			padding: 7px 50px 7px 10px;

			&:last-child {
				border-bottom-width: 0;
			}

			.l-design, .l-settings {
				position: absolute;
				top: 50%;
				color: @grayColor;

				&:hover {
					color: @blueColor;
				}
			}

			.l-design {
				margin-top: -8px;
				right: 32px;
			}

			.l-settings {
				margin-top: -8px;
				right: 8px;
			}
		}
	}

	.l-footer {
		border-top: 1px solid @borderColor;
		height: 40px;
	}
}