.panel {
	top: 15px;
	left: 54px;
	z-index: 90;
	position: fixed;
	background: #fff;
	width: 330px;
	padding: 140px 0 65px 0;
	webkit-box-shadow: 1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
	-moz-box-shadow: 1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
	box-shadow: 1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-left: 10px solid;
	overflow: hidden;
}

.panel .header {
	top: 0;
	width: 100%;
	height: 140px;
	position: absolute;
	border-bottom: 1px solid #cdcdcd;
	display: none;
	z-index: 10;
}

.panel .header .title {
	font-size: 22px;
	font-weight: 300;
	padding: 10px 30px 10px 20px;
}

.panel .header .description {
	font-size: 14px;
	font-weight: 300;
	padding: 10px 30px 10px 20px;
}

.panel .close {
	top: 15px;
	right: 15px;
	position: absolute;
	display: block;
	background: url(/img/common/close.png);
	width: 14px;
	height: 14px;
	z-index: 20;
}

.panel .container {
	min-height: 20px;
	overflow: auto;
}

.panel .container .error {
	color: #cc0000;
}

.panel .footer {
	display: none;
	bottom: 0;
	left: 0;
	right: 0;
	height: 65px;
	position: absolute;
	border-top: 1px solid #cdcdcd;
	background: -moz-linear-gradient(top, #fff 0, #f2f2f2 70%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(70%, #f2f2f2), color-stop(100%, #f2f2f2));
	background: -webkit-linear-gradient(top, #fff 0, #f2f2f2 70%, #f2f2f2 100%);
	background: -o-linear-gradient(top, #fff 0, #f2f2f2 70%, #f2f2f2 100%);
	background: -ms-linear-gradient(top, #fff 0, #f2f2f2 70%, #f0f0f0 100%);
	background: linear-gradient(top, #fff 0, #f2f2f2 70%, #f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#F2F2F2", GradientType=0);
}

.panel-sections {
	border-color: #f99d1c;
}

.panel-blocks {
	border-color: #32a0d4;
}

.panel-settings {
	border-color: #b1b9bc;
}

.panel-payment {
	border-color: #54b354;
}

#panel-buttons a {
	width: 76px;
	height: 76px;
	position: fixed;
	left: 16px;
	top: 48px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	overflow: hidden;
	background: url(/img/common/panel-icons.png) 0 0 no-repeat;
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	line-height: 76px;
	padding-left: 76px;
	font-weight: 300;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 100;
}

#panel-buttons a span {
	padding-left: 10px;
	display: none;
}

#panel-buttons #blocks-button {
	top: 140px;
	background-position: 0 -76px;
}

.panel-buttons-blocks-top {
	top: 140px !important;
}

#panel-buttons #settings-button {
	top: 232px;
	background-position: 0 -152px;
}

.panel-buttons-settings-top {
	top: 232px !important;
}

#panel-buttons #payment-button {
	top: 324px;
	background-position: 0 -228px;
}

.panel-buttons-payment-top {
	top: 324px !important;
}

#panel-buttons a:hover {
	width: 228px;
}

#panel-buttons a:hover span {
	display: block;
}

.panel-button-half {
	width: 76px !important;
	left: -38px !important;
	opacity: 0.75;
}

.panel-button-half span {
	display: none !important;
}

.panel-button-half:hover {
	opacity: 1;
}

.panel-button-active {
	opacity: 1 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	width: 92px !important;
	top: 48px !important;
}

.panel .container .panel-item {
	padding: 10px 0;
	margin-left: 20px;
	position: relative;
	border-bottom: 1px solid #cdcdcd;
	cursor: pointer;
}
.panel .container .panel-item:last-child {
	border: 0;
}

.panel .container .panel-item .design {
	display: none;
	width: 36px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 36px;
}

.panel .container .panel-item .settings {
	display: none;
	width: 36px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.panel .container .panel-item span {
	top: 50%;
	position: absolute;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	background: url(/img/common/icons_small.png) no-repeat;
}

.panel .container .panel-item .design span {
	left: 50%;
	margin-left: -8px;
	background-position: 0 0;
}
.panel .container .panel-item .settings span {
	left: 50%;
	margin-left: -8px;
	background-position: -16px 0;
}

.panel .container .panel-item span.item {
	right: 60px;
	background-position: 0 -16px;
	display: none;
}

.panel .container .with-icon {
	margin-left: 50px;
}

.panel .container .form-container {
	margin: 15px;
}