.l-panel {
	border: 1px solid black;
	bottom: 35px;
	right: 20px;
	z-index: 90;
	position: fixed;
	background: white;
	width: 330px;
	overflow: hidden;

	.l-header {
		position: relative;
		min-height: 20px;

		.l-close {
			position: absolute;
			right: 0;
			top: 0;
			width: 20px;
			height: 20px;
			background: black;
		}

		.l-back {
			position: absolute;
			left: 0;
			top: 0;
			width: 20px;
			height: 20px;
		}
	}
}