/* White color */
@whiteColor: #fff;

/* Blue color */
@blueColor: #2098d1;

/* Gray colors */
@lightGrayColor: #eee;
@mediumLightGrayColor: #ddd;
@mediumGrayColor: #ccc;
@mediumDarkGrayColor: #333;
@darkGrayColor: #111;