.overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 500;
	background: #000;
	opacity: 0.05;
	position: fixed;
}

.window {
	top: 15px;
	left: 50%;
	z-index: 1000;
	position: fixed;
	background: #fff;
	width: 980px;
	overflow: hidden;
	margin-left: -490px;
	padding: 56px 0 65px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	webkit-box-shadow: 1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
	-moz-box-shadow: 1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
	box-shadow: 1px 0 0 0 #d2d2d2, -1px 0 0 0 #d2d2d2, 0 1px 0 0 #b6b6b6, 0 2px 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, -2px 0 0 0 #e6e6e6, 0 3px 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
}

.window .header {
	top: 0;
	left: 0;
	right: 0;
	font-size: 30px;
	line-height: 46px;
	padding-top: 10px;
	padding-left: 24px;
	height: 56px;
	position: absolute;
	border-bottom: 1px solid #d5d5d5;
	font-weight: 300;
	z-index: 5;
	display: none;
}

.window .close {
	top: 3px;
	right: 3px;
	position: absolute;
	display: block;
	background: url(/img/common/close.svg) no-repeat center center;
	width: 56px;
	height: 56px;
	background-size: 18px 18px;
	z-index: 10;
}

.window .container {
	min-height: 20px;
	overflow: auto;
	padding: 10px 25px;
}

.window .footer {
	bottom: 0;
	left: 0;
	right: 0;
	height: 65px;
	position: absolute;
	border-top: 1px solid #d5d5d5;
	background: -moz-linear-gradient(top, #fff 0, #f2f2f2 70%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(70%, #f2f2f2), color-stop(100%, #f2f2f2));
	background: -webkit-linear-gradient(top, #fff 0, #f2f2f2 70%, #f2f2f2 100%);
	background: -o-linear-gradient(top, #fff 0, #f2f2f2 70%, #f2f2f2 100%);
	background: -ms-linear-gradient(top, #fff 0, #f2f2f2 70%, #f0f0f0 100%);
	background: linear-gradient(top, #fff 0, #f2f2f2 70%, #f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#F2F2F2", GradientType=0);
	display: none;
}

.window-login {
	width: 400px;
	margin-left: -200px;
}

.window .window-footer-button {
	float: left;
	margin: 14px 24px;
	min-width: 60px;
	height: 35px;
	padding: 7px 24px;
	cursor: pointer;
	text-align: center;
	line-height: 19px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #0085cf;
	background: #ebebeb;
	background: -webkit-linear-gradient(#fff, #ebebeb);
	background: linear-gradient(#fff, #ebebeb);
	border: 1px solid #b5b5b5;
	box-shadow: inset 0 .1rem 0 rgba(255, 255, 255, .2);
	text-decoration: none;
}

.window .window-footer-button:hover {
	border-color: #999;
	background: #d7d7d7;
	background: -webkit-linear-gradient(#fff, #d7d7d7);
	background: linear-gradient(#fff, #d7d7d7);
}

.window .window-footer-button:active {
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 0 9px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 0 #fff, inset 0 0 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 0 #fff, inset 0 0 9px rgba(0, 0, 0, 0.5)
}