{% extends "EEApplicationsAbstractBundle::layout.html.twig" %}
{% form_theme form with ['EEApplicationsAbstractBundle:Form:bootstrap-override.html.twig'] %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6">
                <h1>Template Emails</h1>
                <h3>Please select a template</h3>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                {{
                    form(
                        form,
                        {
                            'attr': {
                                'novalidate': 'novalidate',
                                'action': path(
                                    'ee_applications_template_emails_client_select_template',
                                    {'email': email}
                                ),
                                'class': 'form-horizontal'
                            }
                        }
                    )
                }}
            </div>
        </div>
    </div>

{% endblock %}