<div class="panel loading transparent">
    <div class="header">
        <a class="back gray-red-link fa fa-chevron-left hidden"></a>
        <div class="title"></div>
        <a class="close gray-red-link fas fa-times"></a>
        <div class="description"></div>
        <div class="btn-group"></div>
    </div>

    <div class="body scroll-container"></div>

    <div class="footer"></div>

    <i class="fas fas fa-circle-notch fa-spin loader"></i>
</div>

<div class="panel-list-item">
    <a class="item">
        <i class="icon"></i>
        <span class="text"></span>
    </a>
    <a class="fas fa-cog settings"></a>
    <a class="fas fa-paint-brush design"></a>
</div>
