@font-face {
	font-family: 'MyriadPro';
	src: url('myriad-pro_light.eot?#iefix') format('embedded-opentype'),
	url('myriad-pro_light.otf') format('opentype'),
	url('myriad-pro_light.woff') format('woff'),
	url('myriad-pro_light.ttf') format('truetype'),
	url('myriad-pro_light.svg#MyriadPro') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro';
	src: url('myriad-pro_light-italic.eot?#iefix') format('embedded-opentype'),
	url('myriad-pro_light-italic.otf') format('opentype'),
	url('myriad-pro_light-italic.woff') format('woff'),
	url('myriad-pro_light-italic.ttf') format('truetype'),
	url('myriad-pro_light-italic.svg#MyriadPro') format('svg');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'MyriadPro';
	src: url('myriad-pro_regular.eot?#iefix') format('embedded-opentype'),
	url('myriad-pro_regular.otf') format('opentype'),
	url('myriad-pro_regular.woff') format('woff'),
	url('myriad-pro_regular.ttf') format('truetype'),
	url('myriad-pro_regular.svg#MyriadPro') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro';
	src: url('myriad-pro_regular-italic.eot?#iefix') format('embedded-opentype'),
	url('myriad-pro_regular-italic.otf') format('opentype'),
	url('myriad-pro_regular-italic.woff') format('woff'),
	url('myriad-pro_regular-italic.ttf') format('truetype'),
	url('myriad-pro_regular-italic.svg#MyriadPro') format('svg');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'MyriadPro';
	src: url('myriad-pro_bold-italic.eot?#iefix') format('embedded-opentype'),
	url('myriad-pro_bold-italic.otf') format('opentype'),
	url('myriad-pro_bold-italic.woff') format('woff'),
	url('myriad-pro_bold-italic.ttf') format('truetype'),
	url('myriad-pro_bold-italic.svg#MyriadPro') format('svg');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'MyriadPro';
	src: url('myriad-pro_bold.eot?#iefix') format('embedded-opentype'),
	url('myriad-pro_bold.otf') format('opentype'),
	url('myriad-pro_bold.woff') format('woff'),
	url('myriad-pro_bold.ttf') format('truetype'),
	url('myriad-pro_bold.svg#MyriadPro') format('svg');
	font-weight: 700;
	font-style: normal;
}