<ul class="breadcrumbs">
    {% for breadcrumb in breadcrumbs %}
        {% if breadcrumb.uri is not empty %}
            <li>
                <a href="{{ breadcrumb.uri }}">
                    {{ breadcrumb.name }}
                </a>
                <span class="separator">/</span>
            </li>
        {% else %}
            <li class="active">
                {{ breadcrumb.name }}
            </li>
        {% endif %}
    {% endfor %}

    <li class="clear"></li>
</ul>
