body,
div,
p,
ul,
li,
input,
textarea,
span,
a,
button,
h1,
h2,
h3,
h4,
h5,
h6
{
  .box-sizing;
  color: @defaultTextColor;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  outline: none;
  padding: 0;
  font-weight: 400;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.transparent {
  opacity: 0;
}

.hidden {
  display: none !important;
}

.align-right {
  text-align: right !important;
}

.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.clear {
  clear: both;
}

.block {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.scroll-container {
  overflow-y: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @grayBorderColor;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: @blueBorderColor;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: @grayBackground;
  }
}

#templates {
  display: none;
}

.ajax-error {
  .border-radius(4px);
  .transition(opacity);
  position: fixed;
  top: -4px;
  left: 20px;
  background: red;
  z-index: 99999;
  padding: 15px 20px 10px 20px;

  .message,
  .file,
  .trace {
    color: white;
    padding: 10px 0;
  }

  .message {
    font-weight: bold;
  }
}