@import "../../abstract/group/less";

.design-text-container {
  .decoration {
    margin-left: 10px;

    .underline {
      .label {
        text-decoration: underline;
      }
    }

    .line-through {
      .label {
        text-decoration: line-through;
      }
    }

    .overline {
      .label {
        text-decoration: overline;
      }
    }
  }
}
