.image-sort-container {
  overflow: hidden;

  .image-sort-item {
    .border-radius(4px);
    width: 120px;
    height: 120px;
    float: left;
    text-align: center;
    overflow: hidden;
    border: 1px solid @grayBorderColor;
    margin: 10px;
    position: relative;
    cursor: move;

    img {
      height: 100%;
    }

    .buttons {
      .transition(opacity);
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      height: 40px;
      opacity: 0;

      .background {
        .transition(height);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        background: rgba(255, 255, 255, .8);
        z-index: 10;
      }

      .edit,
      .remove {
        .transition(font-size);
        color: white;
        z-index: 20;
        position: absolute;
        top: 5px;
        left: 50%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        padding: 0;

        .icons {
          width: 100%;
          margin: 0;
        }
      }

      .edit {
        margin-left: -35px;
      }

      .remove {
        margin-left: 5px;
      }
    }

    &:hover {
      .buttons {
        opacity: 1;

        .background {
          height: 100%;
        }
      }
    }
  }
}