@import "webkit";

* {
  margin: 0;
  padding: 0;
  .box-sizing();
  outline: none;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

#templates {
  display: none;
}

a, button {
  cursor: pointer;
}

.transparent {
  opacity: 0;
}

.hidden {
  display: none;
}