@import "variables";
@import "webkit";
@import "helpers";

.form-container {
  margin: 15px 0;

  label {
    .label-text {
      display: block;
      font-weight: bold;
      font-size: 14px;
      padding: 0 4px;
    }

    .form-instance-container {
      position: relative;
      display: block;

      .form-instance {
        .transition(box-shadow, 0.15s);
        border: 1px solid @grayBorderColor;
        padding: 2px 24px 4px 10px;
        line-height: 22px;
        .border-radius(4px);
        font-size: 15px;
        width: 100%;
        background: white;

        &:hover {
          border-color: @blueBorderColor;
        }

        &:focus {
          border-color: @blueBorderColor;
          .box-shadow(0 0 0 3px rgba(131, 192, 253, 0.5));
        }
      }

      i.error {
        position: absolute;
        right: 9px;
        top: 6px;
        color: @redTextColor;
        font-size: 16px;
        display: none;
      }
    }

    span.error {
      color: @redTextColor;
      font-size: 12px;
      padding: 0 4px;
      display: none;
    }
  }
}

.form-container.error {
  label {
    .form-instance-container {
      .form-instance {
        border-color: @redBorderColor;
      }

      i.error {
        display: block;
      }
    }
  }

  span.error {
    display: block;
  }
}


.form-container-checkbox {
  label {
    .icons {
      font-size: 17px;
      width: 18px;
      display: inline-block;
      vertical-align: top;

      .fa-square-o {
        display: inline-block;
        color: @grayBorderColor;
      }

      .fa-check-square-o {
        display: none;
        color: @blueBorderColor;
      }
    }

    span.label-text {
      display: inline-block;
      font-weight: 400;
      padding-left: 0;
    }

    .form-instance {
      display: none;

      &:checked + .icons {
        .fa-square-o {
          display: none;
        }

        .fa-check-square-o {
          display: inline-block;
        }
      }
    }

    &:hover {
      .icons {
        .fa-square-o {
          color: @blueBorderColor;
        }
      }
    }
  }
}

.form-button {
  .icons {
    width: 22px;
    text-align: center;
    display: inline-block;
    margin: 0 -2px 0 -5px;
  }
}

.form-button.submit {
  &:hover:before {
    content: ".";
    position: absolute;
    width: 100%;
    height: 18px;
    left: 0;
    top: -18px;
    opacity: 0;
  }

  &:hover:after {
    content: ".";
    position: absolute;
    width: 100%;
    height: 18px;
    left: 0;
    bottom: -18px;
    opacity: 0;
  }
}

.group-title {
  display: block;
  font-weight: bold;
  font-size: 14px;
  padding: 0 4px;
}

.form-spinner {
  position: absolute;

  input {
    .transition(box-shadow, 0.15s);
    border: 1px solid @grayBorderColor;
    padding: 2px 24px 4px 10px;
    line-height: 22px;
    .border-radius(4px);
    font-size: 15px;
    background: white;
    width: 70px;

    &:hover {
      border-color: @blueBorderColor;
    }

    &:focus {
      border-color: @blueBorderColor;
      .box-shadow(0 0 0 3px rgba(131, 192, 253, 0.5));
    }
  }

  a {

    .fa {
      .gray-blue-link;
      position: absolute;
      right: 3px;
      font-size: 0;
      height: 15px;
      line-height: 12px;

      &:before {
        font-size: 16px;
      }
    }

    .fa-chevron-up {
      top: 0;
    }

    .fa-chevron-down {
      bottom: 0;
    }
  }
}

.form-container-radio-buttons {
  .label-body {
    line-height: 30px;
    min-width: 30px;
    padding: 0 10px;
    text-align: center;
    background: @grayBackground;
    cursor: pointer;
  }

  .form-instance {
    display: none;

    &:checked + .label-body {
      background: @darkGrayBackground;
      color: white;
    }
  }
}