.fancybox-bg {
  background: white;
}

.fancybox-navigation {
  button {
    &:before {
      background: none;
    }

    &:hover {
      &:before {
        background: @grayBackground;
      }
    }
  }
}

.fancybox-toolbar {
  .fancybox-button {
    background: none;

    &:hover {
      background: @grayBackground;
    }
  }
}