@import "webkit";
@import "variables";

.panel {
  .border-radius(6px);
  .transition-duration(.15s);
  .transition-property(opacity);
  background: white;
  border: 1px solid @darkGrayBorderColor;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  overflow: hidden;
  width: 330px;
  position: fixed;
  top: 16px;
  right: 16px;

  .header {
    border-bottom: 1px solid @grayBorderColor;
    position: relative;

    .title {
      line-height: 32px;
      padding: 0 35px 0 10px;
      font-size: 18px;
      font-weight: 300;
      text-align: center;
    }

    .back {
      position: absolute;
      width: 32px;
      height: 32px;
      line-height: 32px;
      display: block;
      text-align: center;
      font-size: 18px;
      top: 0;
      left: 0;
    }

    .close {
      position: absolute;
      width: 32px;
      height: 32px;
      line-height: 32px;
      display: block;
      text-align: center;
      font-size: 18px;
      top: 0;
      right: 0;
    }

    .description {
      padding: 5px 10px 10px 10px;
      font-size: 12px;
    }
  }

  .body {
    .panel-list-item {
      min-height: 32px;
      border-bottom: 1px solid @grayBorderColor;
      position: relative;

      .label {
        .transition-duration(.15s);
        .transition-property(background-color);
        display: block;
        padding: 6px 70px 6px 6px;
        line-height: 20px;
        font-size: 14px;

        .icon {
          display: inline-block;
          width: 32px;
          font-size: 16px;
          text-align: center;
        }

        &:hover {
          background-color: @grayBackground;
        }
      }

      .settings, .design {
        .transition-duration(.15s);
        .transition-property(font-size);
        position: absolute;
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        color: @darkGrayLinkColor;
        top: 50%;
        margin-top: -16px;
        font-size: 16px;

        &:hover {
          color: @blueLinkColor;
          font-size: 20px;
        }
      }

      .settings {
        right: 4px;
      }

      .design {
        right: 32px;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    .panel-list-item.without-buttons {
      .label {
        padding-right: 10px;
      }
    }
  }

  .footer {
    height: 46px;
    border-top: 1px solid @grayBorderColor;
    position: relative;

    .submit {
      position: absolute;
      bottom: 10px;
      right: 15px;
    }
  }

  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 30px;
    margin-top: -15px;
    margin-left: -15px;
    color: @grayBorderColor;
    display: none;
  }

  .accordion-container {
    .accordion-body {
      padding-right: 15px;
    }
  }
}

.panel.error {
  .header {
    border-bottom: none;
    height: 32px;

    .title {
      display: none;
    }
  }

  .ajax-error {
    display: block;
    font-size: 12px;
    padding: 0 12px 12px 12px;

    * {
      color: @redTextColor;
    }

    div {
      margin: 10px 0;
    }
  }

  .footer {
    display: none;
  }
}

.panel.loading {
  height: 100px;

  .header {
    border-bottom: none;
    height: 32px;

    .title {
      display: none;
    }

    .description {
      display: none;
    }
  }

  .body {
    display: none;
  }

  .footer {
    display: none;
  }

  .loader {
    display: block;
  }
}