// Text
@defaultTextColor: #333;
@redTextColor: #f00;

// Border
@grayBorderColor: #D9D9D9;
@darkGrayBorderColor: #999;
@blueBorderColor: #1780fb;
@redBorderColor: #f00;

// Background
@lightGrayBackground: #fafafa;
@grayBackground: #EDEDED;
@darkGrayBackground: #272828;
@blueBackground: #1780fb;

// Links
@lightGrayLinkColor: #fafafa;
@grayLinkColor: #D9D9D9;
@darkGrayLinkColor: #777;
@blueLinkColor: #1780fb;
@redLinkColor: #f00;

// Buttons
@blueButtonGradientFrom: #42a1ec;
@blueButtonGradientTo: #0070c9;
@blueButtonGradientFromHover: #51a9ee;
@blueButtonGradientToHover: #147bcd;
@blueButtonBorderColor: #07c;
@blueButtonColor: white;

@grayButtonGradientFrom: white;
@grayButtonGradientTo: #efefef;
@grayButtonGradientFromHover: white;
@grayButtonGradientToHover: #ebebeb;
@grayButtonBorderColor: #b5b5b5;
@grayButtonColor: @defaultTextColor;

// Box shadows
@formBlueBoxShadow: 0 0 0 3px rgba(131, 192, 253, 0.5);
@formGrayBoxShadow: 0 0 0 3px rgba(0, 0, 0, 0.1);