// Text
@defaultTextColor: #333;
@redTextColor: #f00;

// Border
@grayBorderColor: #d9d9d9;
@darkGrayBorderColor: #999;
@blueBorderColor: #1780fb;
@redBorderColor: #f00;

// Background
@lightGrayBackground: #fafafa;
@grayBackground: #ededed;
@darkGrayBackground: #272828;
@blueBackground: #1780fb;

// Links
@lightGrayLinkColor: #fafafa;
@grayLinkColor: #d9d9d9;
@darkGrayLinkColor: #777;
@blueLinkColor: #1780fb;
@redLinkColor: #f00;

// Gradients
@blueGradientFrom: #42a1ec;
@blueGradientTo: #0070c9;
@blueGradientFromHover: #51a9ee;
@blueGradientToHover: #147bcd;
@grayGradientFrom: white;
@grayGradientTo: #efefef;
@grayGradientFromHover: white;
@grayGradientToHover: #ebebeb;

// Box shadows
@formBlueBoxShadow: 0 0 0 3px rgba(131, 192, 253, 0.5);
@formGrayBoxShadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
