@import "webkit";
@import "variables";
@import "helpers";

.window {
  .transition-duration(.15s);
  .transition-property(opacity);
  left: 50%;
  top: 25px;
  background: white;
  position: fixed;
  z-index: 1000;
  width: 800px;
  margin-left: -400px;

  .header {
    height: 42px;
    border-bottom: 1px solid @grayBorderColor;

    .title {
      padding: 0 25px;
      line-height: 40px;
      font-size: 22px;
      font-weight: 300;
    }

    .close {
      .grayRedLink;
      position: absolute;
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: block;
      text-align: center;
      font-size: 22px;
      top: 0;
      right: 0;
    }
  }

  .body {
    padding: 5px 25px;
  }

  .footer {
    height: 60px;
    border-top: 1px solid @grayBorderColor;
    position: relative;
    margin: 0 25px;

    .submit {
      .gradient-vertical(#42a1ec, #0070c9);
      border: 1px solid #07c;
      color: white;
      height: 36px;
      padding: 0 30px;
      position: absolute;
      bottom: 12px;
      right: 0;
      .border-radius(4px);
      font-size: 16px;

      &:hover {
        .gradient-vertical(#51a9ee, #147bcd);
      }

      &:focus {
        box-shadow: 0 0 0 3px rgba(131, 192, 253, 0.5);
      }

      * {
        color: white;
      }
    }
  }

  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 40px;
    margin-top: -20px;
    margin-left: -20px;
    color: @blueBorderColor;
    display: none;
  }
}

.window.loading {
  .header {
    border-bottom: none;

    .title {
      display: none;
    }
  }

  .body {
    display: none;
  }

  .footer {
    border-top: none;

    * {
      display: none;
    }
  }

  .loader {
    display: block;
  }
}

.window-overlay {
  .transition-duration(.15s);
  .transition-property(opacity);
  position: fixed;
  z-index: 990;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .2);
}